
.DS_Store
errors.txt
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
*.rpyc
*.pyc
*.save
game/saves/persistent
*.bak
log.txt
project.json
traceback.txt
game/firstrun
game/saves/navigation.json
files.txt
.vscode/settings.json
tests/BF-it-master
tests/c2bf-master
